.main{
	display: flex;
	border:2px solid #37DEC2  ;
	justify-content: space-around;
	background:pink;
}
.s1{
	border: 3px solid #add;
	margin:5%;
	padding:2%;
	background:#DE379A;
	text-align: center;
	border-radius:10%; 
}
/*h1,p,{
	text-align: center;
}*/
body{
	background:#AB37DE   
}